  <div class="row mentoring-controls">
    <div class="input-group pull-left mentoring-header">
      Mentoring Sessions
    </div>
    <% if current_user.is_admin? %>
      <div class="input-group pull-right">
        <%= link_to 'Add mentor', new_mentor_path, class: 'btn btn-codaisseur', style: 'margin-bottom: 20px;' %>
      </div>
    <% end %>
  </div>

<p>Below you will find the teachers and the specific times they are available for
  one-on-one mentoring. Mentoring and coaching sessions are not just for those who
  need help with their code, it's also for those in the job search phase. So regardless
  of the issue, if you need some dedicated one-on-one time, be sure to reserve a
  session to make certain that you get the attention you need.
</p>

<% @mentors.each do |mentor| %>
  <div class="col-sm-5 col-md-5 col-lg-3 col-wrapper-mentor">
    <div class="mentor-avatar"><%= image_tag mentor.avatar.url(:small), class: 'img-circle' %></div>
    <h3 class="mentor-name"><%= mentor.name %></h3>
    <table class="table">
      <tr>
        <td class="mentor-category">Time</td>
        <td><%= mentor.mentoring_times %>
      </tr>
      <tr>
        <td class="mentor-category">Availability</td>
        <td><%= mentor.availability %></td>
      </tr>
      <tr>
        <td class="mentor-category">Competencies</td>
        <td><%= mentor.competencies %></td>
      </tr>
      <tr>
        <td colspan="2"><%= link_to "Book mentoring", mentor.calendly_url, target: '_blank', class: "btn btn-codaisseur pull-right" %></td>
      </tr>
    </table>
    <% if current_user.is_admin? %>
      <%= link_to "", { action: :destroy, id: mentor.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
      <%= link_to "", edit_mentor_path(mentor.id), class: "glyphicon glyphicon-wrench"  %>
    <% end %>
  </div>
<% end %>
