  <div class="row mentoring-controls">
    <div class="input-group pull-left mentoring-header">
      Mentoring Sessions
    </div>
    <% if current_user.is_admin? %>
      <div class="input-group pull-right">
        <%= link_to 'Add mentor', new_mentor_path, class: 'btn btn-codaisseur', style: 'margin-bottom: 20px;' %>
      </div>
    <% end %>
  </div>

<p>Below you will find information on the Codaisseur mentors available to you for one-on-one sessions.
  Please take into consideration the points below before booking a mentoring session:
  <ul>
    <li>
      For obvious reasons, students still in the 8 week Academy phase <stronger>are not</stronger>
      eligible for mentoring sessions;
    </li>
    <li>
      Mentoring is not limited to code related enquiries; trainees in the job placement
      phase can seek mentorship when it comes to career advice;
    </li>
    <li>
      Individual mentoring sessions are 30 minutes in duration and will start at
      the time indicated whether you are present or not;
    </li>
    <li>
      We ask that you book only one session per day. If you need more mentoring,
      you can always book for the next available spot on a different day or
      unless otherwise indicated by the mentor at that time;
    </li>
    <li>
      You are not required to come to the office for your mentoring session. Any mentor
      can call you over slack and with the help of team viewer, connect remotely to your
      computer to assist with any code related enquires;
    </li>
    <li>
      Please make it clear in your comments when booking as to what you want to discuss
      and/or address so mentors can be better prepared.
    </li>
  </ul>
</p>

<% @mentors.each do |mentor| %>
  <div class="col-sm-5 col-md-5 col-lg-3 col-wrapper-mentor">
    <div class="mentor-avatar"><%= image_tag mentor.avatar.url(:small), class: 'img-circle' %></div>
    <h3 class="mentor-name"><%= mentor.name %></h3>
    <table class="table">
      <tr>
        <td class="mentor-category">Time</td>
        <td><%= mentor.mentoring_times %>
      </tr>
      <tr>
        <td class="mentor-category">Availability</td>
        <td><%= mentor.availability %></td>
      </tr>
      <tr>
        <td class="mentor-category">Competencies</td>
        <td><%= mentor.competencies %></td>
      </tr>
      <tr>
        <td colspan="2"><%= link_to "Book mentoring", mentor.calendly_url, target: '_blank', class: "btn btn-codaisseur pull-right" %></td>
      </tr>
    </table>
    <% if current_user.is_admin? %>
      <%= link_to "", { action: :destroy, id: mentor.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
      <%= link_to "", edit_mentor_path(mentor.id), class: "glyphicon glyphicon-wrench"  %>
    <% end %>
  </div>
<% end %>
